.NoteBlock {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: .1px solid#e1e1df;
    &-blockinfo {
        display: flex;
        align-items: center;
        gap: 2vw;
        & span {
            overflow-wrap: break-word;
            width: 65%;
        }
        & span:first-child {
            overflow-wrap:normal;
            width: 35%;
        }
    }
}
.NoteBlock:last-child {
    border-bottom: .1px solid#e1e1df;
}

.Active {
    background-color: #e1e1df;
}