.Sidebar {
    display: flex;
    &-noteList {
        background-color: beige;
        width: 20vw;
        min-width: 150px;
        height: 82vh;
        padding: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}