.Search {
    font-size: 14px;
    text-align: center;
    padding: 0.5vw;
    max-width: 15vw;
    min-width: 100px;
    min-height: 3vh;
    outline: none;
    border: none;
    border-radius: 8px;
}